<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--tex currently no decent validation is run on these paths, partial/relative paths are assumed to start with backslash and have no end-->
    <add key="gamePath" value="C:\GamesSD\MGS_TPP"/>
    <add key="gzsToolPath" value="D:\Games\[Utils]\[MGSV]\MGSVTOOLS\GzsTool\GzsTool.exe"/>
    <add key="langToolPath" value="D:\Games\[Utils]\[MGSV]\MGSVTOOLS\TranslationTool\LangTool.exe"/>
    <add key="foxToolPath" value="D:\Games\[Utils]\[MGSV]\MGSVTOOLS\FoxTool\FoxTool.exe"/>
    <add key="subpToolPath" value="D:\Games\[Utils]\[MGSV]\MGSVTOOLS\FoxEngine.TranslationTool v0.2.4\SubpTool.exe"/>
    
    <!-- tex using own build below
    <add key="makeBitePath" value="D:\Games\[Utils]\[MGSV]\SnakeBite\makebite.exe"/>
    -->
    <add key="snakeBitePath" value="D:\Games\[Utils]\[MGSV]\SnakeBite\snakebite.exe"/>
    
    <!-- tex own build-->
    <add key="makeBitePath" value="D:\Projects\MGS\Tools-Github\SnakeBite\makebite\bin\Release\makebite.exe"/>
    <!-- 
    <add key="snakeBitePath" value="D:\Projects\MGS\snakebite\SnakeBite-master\snakebite\bin\Debug\snakebite.exe"/>
    -->

    <add key="buildFolder" value="D:\Projects\MGS\build\infiniteheaven\mod"/>
    <add key="cleanDataPath" value="F:\GameData\MGS\master"/><!--unmodified game archives, assumes they have been extracted to subfolders per archive in keeping with the default behaviour of the community tools, or extracts them to this folder -->

    <add key="modBuildPath" value="D:\Projects\MGS\build\infiniteheaven\snakebitemod"/>
    
    <add key="projectPath" value="D:\Projects\MGS\!InfiniteHeaven"/>
    <add key="luaSubPath" value="\!modlua"/>
    <add key="luaDataFilesSubpath" value="\Data1Lua"/>
    <add key="luaPackFilesSubPath" value="\FpkdCombinedLua"/>
    
    <add key="packSubPath" value="\!modfpk"/>
    <add key="customPackSubPath" value="\customfpk"/>
    
    <add key="externalLuaSubPath" value="\!modlua\ExternalLua"/>

  </appSettings>
</configuration>