<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--currently no decent validation is run on these paths, partial/relative paths are assumed to start with backslash and have no end-->
    <add key="gzsToolPath" value="D:\Games\[Utils]\[MGSV]\MGSVTOOLS\GzsTool\GzsTool.exe"/>
    <add key="langToolPath" value="D:\Games\[Utils]\[MGSV]\MGSVTOOLS\TranslationTool\LangTool.exe"/>
    
    
    <!--
    <add key="makeBitePath" value="D:\Projects\MGS\snakebite\SnakeBite_0.5\makebite.exe"/>
    <add key="snakeBitePath" value="D:\Projects\MGS\snakebite\SnakeBite_0.5\snakebite.exe"/>
    -->
<!--
    <add key="makeBitePath" value="D:\Projects\MGS\snakebite\SB051\makebite.exe"/>
    <add key="snakeBitePath" value="D:\Projects\MGS\snakebite\SB051\snakebite.exe"/>
    -->
    <!--
    <add key="makeBitePath" value="D:\Projects\MGS\snakebite\SnakeBite\makebite.exe"/>
    <add key="snakeBitePath" value="D:\Projects\MGS\snakebite\SnakeBite\snakebite.exe"/>
   -->
    <!--
    <add key="makeBitePath" value="D:\Projects\MGS\snakebite\SnakeBite-0.4.2\makebite\bin\Debug\makebite.exe"/>
 
    <add key="snakeBitePath" value="D:\Projects\MGS\snakebite\SnakeBite-0.5.0.src\SnakeBite\bin\Debug\snakebite.exe"/>
    -->

    <add key="buildFolder" value="D:\Projects\MGS\build\infiniteheaven"/><!--working folder to extract/copy and build game .dat for mod-->
    <add key="cleanDataPath" value="F:\GameData\MGS\master"/><!--unmodified game archives, assumes they have been extracted to subfolders per archive in keeping with the default behaviour of the community tools, or extracts them to this folder -->
    <add key="gamePath" value="C:\GamesSD\MGS_TPP"/>
    <add key="modBuildPath" value="D:\Projects\MGS\build\infiniteheaven\snakebitemod"/>
    <add key="projectPath" value="D:\Projects\MGS\InfiniteHeavenLDT\InfiniteHeaven\src"/>
  </appSettings>
</configuration>