<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--tex currently no decent validation is run on these paths, partial/relative paths are assumed to start with backslash and have no end-->
    <add key="gamePath" value="C:\Steam\SteamApps\common\MGS_TPP"/>
    <add key="gzsToolPath" value="D:\Projects\MGS\MGSVTOOLS\GzsTool\GzsTool.exe"/>
    <add key="langToolPath" value="D:\Projects\MGS\MGSVTOOLS\FoxEngine.TranslationTool.v0.2.4\LangTool.exe"/>
    <add key="foxToolPath" value="D:\Projects\MGS\MGSVTOOLS\FoxTool.v0.2.5\FoxTool.exe"/>
    <add key="subpToolPath" value="D:\Projects\MGS\MGSVTOOLS\FoxEngine.TranslationTool.v0.2.4\SubpTool.exe"/>
    
    <!-- tex using own build below -->
    <add key="makeBitePath" value="D:\Projects\MGS\MGSVTOOLS\SnakeBite\makebite.exe"/>
    <add key="snakeBitePath" value="D:\Projects\MGS\MGSVTOOLS\SnakeBite\snakebite.exe"/>

    <!-- tex own build
    <add key="makeBitePath" value="D:\Projects\MGS\Tools-Github\SnakeBite\makebite\bin\Debug\makebite.exe"/>
    <add key="snakeBitePath" value="D:\Projects\MGS\Tools-Github\SnakeBite\snakebite\bin\Debug\snakebite.exe"/>
-->
    <add key="buildFolder" value="D:\Projects\MGS\build\infiniteheaven"/>
    <add key="cleanDataPath" value="F:\GameData\MGS\master"/><!--unmodified game archives, assumes they have been extracted to subfolders per archive in keeping with the default behaviour of the community tools, or extracts them to this folder -->

    <add key="modBuildPath" value="D:\Projects\MGS\build\infiniteheaven\makebite"/>
    
    <add key="projectPath" value="D:\Projects\MGS\!InfiniteHeaven"/>
    <add key="luaSubPath" value="\!modlua"/>
    <add key="luaDataFilesSubpath" value="\Data1Lua"/>
    <add key="luaPackFilesSubPath" value="\FpkdCombinedLua"/>
    <add key="docsSubPath" value="\docs"/>
    
    <add key="packSubPath" value="\!modfpk"/>
    <add key="customPackSubPath" value="\!testexternal"/>
    <add key="otherMgsvsSubPath" value="\!othermods"/>
    
    <add key="externalLuaSubPath" value="\!modlua\ExternalLua"/>

    <add key="ihExtPath" value="D:\GitHub\IHExt\IHExt\bin\Debug\IHExt.exe"/>
  </appSettings>
</configuration>